<hr />
<div class="p-3 flex flex-col gap-3">
  <button pButton type="button" label="Sign Out" (click)="signOut()" icon="pi pi-sign-out" class="botont" severity="danger" ></button>
  <br>
  <button pButton type="button" label="Calendar" icon="pi pi-calendar" class="botont" severity="info" (click)="toggleCalendar()"></button>
  <br>
  <div *ngIf="showCalendar">
    <app-calendar (dateSelected)="handleDateSelected($event)"></app-calendar>
  </div>
 
  

  <div *ngIf="showTaskPopup" class="task-popup">
    <div class="popup-header">
      <h3>Tareas para el {{ selectedDate | date: 'dd/MM/yyyy' }}</h3>
      <button type="button" class="close-button" (click)="closeTaskPopup()">X</button>
    </div>
    <ul *ngIf="selectedDateTasks.length > 0">
      <li *ngFor="let task of selectedDateTasks">{{ task.title }}</li>
    </ul>
    <p *ngIf="selectedDateTasks.length === 0">No hay tareas para este día.</p>
  </div>
</div>