.p-datepicker-calendar td.event-day a { /* Si PrimeNG añade un <a> */
  color: red !important;
}

.p-datepicker-calendar td.event-day { /* Si no hay un <a>, o si quieres cambiar el fondo */
  color: red !important;
}

.event-day { /* Intenta esto si lo anterior no funciona */
  color: red !important;
}