<div class="Center">
  <h1>Paused</h1>

  <p-button
    pButton
    type="button"
    label="Add New Task"
    icon="pi pi-plus"
    severity="contrast"
    (click)="openDialog()"
    class="mb-3"
  />

  <p-dialog
    header="New Task"
    [(visible)]="showDialog"
    [modal]="true"
    [closable]="true"
    [style]="{ width: '30vw' }"
  >
    <div class="flex flex-col gap-3">
      <input
        type="text"
        pInputText
        placeholder="Title"
        [(ngModel)]="newTask.title"
      />

      <textarea
        pTextarea
        rows="3"
        placeholder="Description"
        [(ngModel)]="newTask.description"
      ></textarea>

      <p-button
        pButton
        label="Save"
        icon="pi pi-check"
        (click)="saveTask()"
      />
    </div>
  </p-dialog>

  @if (tasks.length > 0) {
    <h3>Paused Tasks</h3>
    <ul>
      @for (task of tasks; track task.id) {
        <li class="task-item-layout">
          <div (click)="editTask(task)" class="task-item-details">
            <strong>{{ task.title }}</strong><br />
            <small>{{ task.description }}</small><br />
            <small
              >Due Date:
              {{ task.dueDate ? (task.dueDate | date : "yyyy-MM-dd") : "No Due Date" }}</small
            >
            <div class="task-categories-tags">
              <span
                *ngIf="task.categories && task.categories.length > 0"
                class="category"
              >
                Categories:
                <span *ngFor="let categoryId of task.categories">
                  {{ getCategoryName(categoryId) }}
                </span>
              </span>
              <span *ngIf="task.tags && task.tags.length > 0" class="tags">
                Tags:
                <p-tag
                  *ngFor="let tag of task.tags"
                  severity="info"
                  [value]="tag"
                ></p-tag>
              </span>
            </div>
          </div>
          <p-button
            severity="secondary"
            icon="pi pi-pencil"
            styleClass="p-button-rounded p-button-sm"
            (click)="openEditForm(task)"
          ></p-button>
        </li>
      }
    </ul>
  } @else {
    <p class="text-gray-500 mt-4">No Paused tasks yet.</p>
  }

  @if (showEditForm && selectedTask) {
    <div class="edit-task-panel">
      <to-do-list-edit
        [task]="selectedTask"
        (closed)="onEditFormClosed($event)"
        (deleted)="onTaskDeleted($event)"
      ></to-do-list-edit>
    </div>
  }
</div>
