<div class="m-5">
    <p-button (click)="showAddDialog()" class="botont m-10" label="Add New Category" severity="secondary" icon="pi pi-plus"></p-button>
    <div class="category-list botont">
        <ng-container *ngFor="let category of existingCategories">
            <div class="category-card">
                <div class="category-name">{{category.name}}</div>
                <button (click)="removeCategory(category)" class="remove-button">
                    <span class="material-symbols-outlined">close</span>
                </button>
            </div>
        </ng-container>
    </div>
    <p-dialog header="Add Category" [(visible)]="displayDialog" [modal]="true" [style]="{ width: '300px' }">
        <div class="p-fluid">
            <div class="field">
                <label class="L-color" for="newCategoryName">Name of the Category</label>
                <input type="text" id="newCategoryName" [(ngModel)]="newCategoryName" pInputText />
            </div>
        </div>
        <ng-template pTemplate="footer">
            <p-button (click)="addCategory()" label="Add" icon="pi pi-plus"></p-button>
            <p-button (click)="displayDialog = false" label="Cancel" styleClass="p-button-secondary"></p-button>
        </ng-template>
    </p-dialog>

    <p-confirmDialog></p-confirmDialog>
</div>