<div class="task-panel">
    <div>
      <h4>TASK:</h4>

      <div>
        <h5>

          Description
        </h5>
    </div>
  
    <hr />
    <div>
      <div>
        <h4>List:</h4>
      </div>
      <div>
        <h4>Due date:</h4>
      </div>
      <div>
        <h4>Tags:</h4>
        <div>
            <p-tag severity="secondary" value="Add Tag" [rounded]="true" />
        </div>
      </div>
    </div>
  
    <div>
      <h4>SUBTASKS:</h4>
        <button pButton type="button" label="Add Subtask" icon="pi pi-plus" severity="secondary" class="botont"></button>
    </div>
  </div>
  