/* You can add global styles to this file, and also import other style files */
/* Estilos globales */
@import "primeicons/primeicons.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: white;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sidebar {
  width: 16rem;
  background-color: #f3f4f6;
  border-right: 1px solid #ccc;
  padding: 1rem;
  box-sizing: border-box;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.botont {
  margin-left: 3px;
  margin-bottom: 3px;
  width: 215px;
}

.titu {
  margin-left: 3px;
}

.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  flex: 1;
  display: flex;
  overflow: hidden;
  padding: 1.5rem;
  box-sizing: border-box;
}

.task-panel {
  width: 16rem;
  background-color: #f3f4f6;
  border-left: 1px solid #ccc;
  padding: 1rem;
  box-sizing: border-box;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Scroll */
  height: 100vh;
}

.w-100{
width: 100%;
}
.m-5{
  margin-top: 5px;
}
.m-10{
  margin-top: 10px;
}

.Center{
  width: 100%;
  margin-left: 10%;
  margin-right: auto;
}
.cursor{
  cursor: pointer;
}
.task-item-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem; 
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 4px;
}

.task-item-details {
  flex-grow: 1;
  margin-right: 1rem;
  cursor: pointer;
}

.edit-task-panel {
  position:fixed;
  background-color: #f3f4f6;
  box-sizing: border-box;
  top: 0;
  right: 0;
  height: 100%;
  width: 290px;
  background-color: #f3f4f6;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  z-index: 1000;
}

/* subtask */
.subtasks-container {
    border: 1px solid var(--surface-border);
    padding: 1rem;
    border-radius: var(--border-radius);
    margin-bottom: 5px;
}

.subtask-list {
    margin-top: 5px;
}

.subtask-item {
    display: flex;
    align-items: center;
    gap: 10px; 
    padding: 0.5rem 0; 
    border-bottom: 1px dashed var(--surface-border);
}
/* Toast Alerts */
.p-toast-message {
    background-color: rgba(0, 0, 0, 0.9) !important;

}

.p-toast-message .p-toast-detail {
    color: rgba(255, 255, 255, 1) !important;
}

.p-toast-message .p-toast-summary {
    color: rgba(255, 255, 255, 1) !important;
}


.p-toast-message .p-toast-icon {
    opacity: 1 !important;
}

.p-toast-message.p-toast-message-info,
.p-toast-message.p-toast-message-success,
.p-toast-message.p-toast-message-warn,
.p-toast-message.p-toast-message-error {
    opacity: 1 !important; }